/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


body{
	font-family: sans-serif;
}

body h1{
	color: #00557B;
	font-family: sans-serif;
}

#header{
 	background-color: #00557B;
 	color: white;
 	height: 150px;
 	padding-left: 200px;
 }

#firm_name{
	font-size: 30pt;
	padding-top: 30px;
	margin-bottom: 0px;
}

 #smaller_font{
 	font-size: 15pt;

 }

 #at_law{
 	margin-top: 5px;
 }


 

 #header h1{
 	color: white;
 }

 #subheader{
 	background-color: #923e19;
 	color: white;
 	height: 50px;
 	margin-top: 5px;
 }

 .no_margin_top{
 	margin-top: 0px;
 }

 #subtitle{
 	padding-left: 200px;
 	padding-top: 3px;
 }

 #footer{
 	background-color: #005984;
 	height: 150px;
 	color: #588dab;

 }

 #footer a {
 	background-color: #005984;
 	color: white;
 	text-decoration: none;
 }

 
 #footer a:hover {
    text-decoration: underline;
    color: black;
} 

 #office_locations{
 	color: white;
 	text-align: left;
 	float: right;
 	padding-right: 150px;
	
 }
/* line 5, C:/projects/silber/app/assets/stylesheets/master.css.scss */
#main_content {
  padding-left: 200px;
  padding-bottom: 20px;
}

/* line 11, C:/projects/silber/app/assets/stylesheets/master.css.scss */
.attorney h3 {
  text-decoration: underline;
  margin-bottom: 3px;
  color: #00557b;
}

/* line 17, C:/projects/silber/app/assets/stylesheets/master.css.scss */
.no_margin_bottom {
  margin-bottom: 0px;
}
